{% extends "base.html" %}
{% from 'macros/components.html' import btn_a %}



{% block title %}Syllabus Home{% endblock %}

{% block content %}
  <div class="container">
    <h1>📚 Your Courses</h1>
    {{ btn_a(
    text='＋ Create New Course',
    variant='primary',
    url=url_for('courses.new_course')) }}
    <div class="card">
      <ul class="course-list">
        {% for course in courses %}
          <li class="course-item">
            <a href="{{ url_for('courses.course_detail', course_id=course.id) }}">
              {{ course.title }}
              <span class="progress-badge">
                {{course.progress}}% Complete
              </span>
            </a>
          </li>
        {% else %}
          <li class="course-item">
            <div>
              No courses found found
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}